<div class="mail-settings">
  <h1>Mail-Einstellungen</h1>

  <mat-tab-group>
    <mat-tab label="Mail-Accounts">
      <div class="tab-content">
        <app-mail-account-editor></app-mail-account-editor>
      </div>
    </mat-tab>

    <mat-tab label="Vorlagen">
      <div class="tab-content">
        <app-mail-template-editor></app-mail-template-editor>
      </div>
    </mat-tab>

    <mat-tab label="Jobs">
      <div class="tab-content">
        <app-mail-job-editor></app-mail-job-editor>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
